<nav class="navbar navbar-default" role="navigation" ng-controller="SideMenuController as vm"  ng-show="vm.IsSignedIn">
    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
            <li><a ui-sref="root.fees"><span class="glyphicon glyphicon-plane"></span>Fee Entry</a></li>
            <li><a ui-sref="root.student"><span class="glyphicon glyphicon-plane"></span>Student Entry</a></li>
            <li><a ui-sref="root.collection"><span class="glyphicon glyphicon-plane"></span>Collection</a></li>
            <li><a ui-sref="root.payments"><span class="glyphicon glyphicon-plane"></span>Payments</a></li>
            <li><a ui-sref="root.payments"><span class="glyphicon glyphicon-plane"></span>Payment Details</a></li>   


        </ul>
    </div><!-- /.navbar-collapse -->
</nav>