<div class="row">
    <div class="col col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title"><span ui-sref="root.collection" class="glyphicon glyphicon-arrow-left" style="cursor: pointer"></span> Collection Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form ng-submit="vm.SearchFee()">
                        <div class="col col-xs-9 col-sm-7 col-md-7 col-lg-7">
                            <input class="form-control input-field" type="text" placeholder="Search" ng-model="vm.SearchRequest.Keyword" />
                        </div>
                        <div class="col col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <button type="submit" class="btn btn-default pull-left"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- Table -->
            <table class="table table-responsive table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in vm.Fees track by $index" ng-click="vm.Select(p)" style="cursor: alias">
                        <td>{{$index + 1}}</td>
                        <td>{{p.Name}}</td>
                        <td>{{p.CostPrice}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Detail</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="vm.Save()">
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Product :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="pname" ng-model="vm.Product.Name" readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Quantity :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="Remarks" ng-model="vm.Model.Quantity" ng-change="vm.Model.Total = vm.Model.Quantity*vm.Model.Price;" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Price :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="Price" ng-model="vm.Model.Price" required="required" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Total :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="Total" ng-model="vm.Model.Total" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Remarks :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="Remarks" ng-model="vm.Model.Remarks" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">&nbsp;</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button ng-show="!vm.IsUpdateMode" type="submit" class="btn btn-floating btn-info">Save</button>
                            <button ng-show="vm.IsUpdateMode" type="button" class="btn btn-floating btn-danger" ng-click="vm.Update()">Update</button>
                            <button type="button" class="btn btn-floating btn-danger" ng-click="vm.Activate()">Reset</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Product List for #{{vm.Parent.Memo}}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form ng-submit="vm.Search()">
                        <div class="col col-xs-9 col-sm-7 col-md-7 col-lg-7">
                            <input class="form-control input-field" type="text" placeholder="Search" required="required" ng-model="vm.SearchRequest.Keyword" />
                        </div>
                        <div class="col col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <button type="submit" class="btn btn-default pull-left"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form>
                    <!--<button type="submit" class="btn btn-info pull-right">Print</button>-->
                </div>
            </div>

            <!-- Table -->
            <table class="table table-responsive table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in vm.Models track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{p.Product.Name}}</td>
                        <td>{{p.Quantity}}</td>
                        <td>{{p.Price}}</td>
                        <td>{{p.Total}}</td>
                        <td>
                            <a class="glyphicon glyphicon-edit" style="cursor: pointer;" ng-click="vm.Edit(p)"></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a style="display: none" class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="vm.Delete(p.Id)"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Total: </td>
                        <td>{{vm.Models.length}} items</td>
                        <td></td>
                        <td></td>
                        <td>{{vm.Parent.Total}}/= BDT</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">

            </div>
        </div>
    </div>


</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>